body {
  font-family: "Lato", sans-serif;
}

header {
  width: 100%;
}

.header__link {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

/* Search box  */

.search_section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.search_section__searchbox {
  width: 95%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background: #e7e7e7;
  border: none;
}

.searchbox_input {
  width: 95%;
  border: none;
  background: #e7e7e7;
  padding-left: 20px;
}

.search_section__searchbox i {
  width: 5%;
  font-size: 1.5rem;
  display: flex;
  align-content: center;
  cursor: pointer;
}

/*************** Filter Section *********************/

/* Tags */

.filter_tag_box{
  width: 100%;
  display: flex;
  justify-content: center;

}

.filter_tag_container{
  margin-top: 30px;
  display: flex;
width: 95%;
flex-direction: row;
flex-wrap: wrap;
gap: 15px;
}

.tag_item{
  width: calc(20% - 15px);
  height: 30px;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

}

.tag_item.ing{
  background-color: #3282f7;
}

.tag_item.app{
  background-color: #68d9a4;
}

.tag_item.ust{
  background-color: #ed6454;
}


.tag_cross{
  color: white;
  cursor: pointer;
}



/* Buttons */

.filter_options {
  width: 100%;
  /* height: 4rem; */
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.filter_container {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* filterbox closed ----- */

.filter_box.closed {
  width: 15%;
  height: 60px;
  border-radius: 5px;
}


.filter_box_name{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  z-index: 1000;
}

.filter_box_name i{
cursor: pointer;
}

/* ---------------> */

/* filterbox opened ----- */


.filter_box.opened {
  width: 70%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  color: white;
  z-index: 10;
}

.filter_container_inbox{
 width: 100%;
 height: 100%;
  z-index: 5;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.filter_search_box{
  width: 95%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.filter_search_box i{
  cursor: pointer;
transform: rotate(180deg);
}

.filter_liste{
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}

.liste_container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: flex-start;
  align-content: flex-start

}

.liste_container.p{
margin: 0;
padding: 0;
}

.liste_container h4{
  font-weight: 200;
  }



.filter_search_input{
  width: 90%;
  height: 30px;
  background-color: transparent;
border: none;
color: white;
}


.liste_element{
  height: 2rem;
  width: 30%;
  cursor: pointer;
}

.liste_element:hover{
opacity: 0.5;
}



.filter_box.first {
  background: #3282f7;
}



.filter_box.second {
  background: #68d9a4;
}

.filter_box.third {
  background: #ed6454;
}

/******* Recipes card section ********/

.recipes_card_section {
  width: 95%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
}

.recipes_card_section p {
  margin: 0;
}

.recipe_card {
  width: 31%;
  height: 450px;
  margin-bottom: 30px;
}

.recipe_card_picture {
  height: 40%;
  background: #c7bebe;
  border-radius: 5px 5px 0 0;
}

.recipe_card_infos {
  height: 60%;
  width: 100%;
  background: #e7e7e7;
  border-radius: 0px 0px 5px 5px;
}

.recipe_card_infos_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 20px;
  align-items: center;
}

.recipe_card_infos_title {
  font-weight: bold;
}

.recipe_card_timing {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.fa-regular.fa-clock {
  margin: auto;
}

.recipe_card_infos_main {
  width: 100%;
  height: calc(90% - 20px);
  display: flex;
  flex-direction: row;
}

.recipe_card_infos_main_ingredients {
  font-size: 0.7rem;
  width: 50%;
  height: 100%;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ing_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 10px;
}

.recipe_card_infos_main_manual {
  width: 50%;
  display: flex;
  overflow: hidden;
}

.recipe_card_infos_main_manual_texte {
  width: 100%;
  padding-right: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  line-height: 20px;
  max-height: 120px;
  overflow: hidden;
  line-clamp: 6;
}

.Error_message{
  color: crimson;
  opacity: 0.9;
}

.listTesti{
  display: flex;
  flex-direction: row;
}

.box_ing{
  background-color: #3282f7;
  z-index: 80000;
}

.box_app{
  background-color: #68d9a4;
}

.box_ust{
  background-color: #ed6454;
}