@media screen and (max-width: 780px){
  body {
      font-family: "Lato", sans-serif;
    }

    
    /* filterbox closed ----- */
    
    .filter_box.closed{
      width: 20%;
    }


    /******* Recipes card section ********/
    
    
    .recipe_card {
      width: 48%;
    }
}